[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphik = {editable = true, path = "."}
urdfpy = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.8"
